# Environment variables
.env
.env.*

# Virtual environment
venv/
.venv/

# Python cache
__pycache__/
*.py[cod]
*$py.class

# Jupyter Notebook checkpoints (optional)
.ipynb_checkpoints/

# OS files
.DS_Store
Thumbs.db

# Logs (optional)
*.log